.nav-item{
    color: white;
    justify-content: center!important;
}

.navbar-brand{
    display: flex;
    margin-right: 100px;
}

.img1{
    margin-left: 0!important;
    width: 100px;
    height: 30px;

}

.navbar-brand{
    font-family: 'roboto 100';
    font-weight: 20;
    margin-left: 20px;
}

.head{
    margin-top: 40px;
}

.bkimg{
    width: 100%;
}

